.container {
  position: relative;
  width: fit-content;
}

.input {
  border: 1px solid lightgray;
  padding: 10px;
  padding-right: 35px;
  border-radius: 20px;
  width: 300px;
  max-width: 100%;
}

.icon {
  position: absolute;
  height: 22px;
  right: 12px;
  top: 7px;
}
